<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="這個網頁能幫你辨識手寫英文數字">
    <link rel="icon" href="static/css/favicon.jpg" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手寫字母數字AI辨識</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            background-color: #1736F5;
            background-image: url(static/css/indexbackground.jpg);
        }
    </style>
</head>

<body>
    <div style="background-color: #1736F5;">
        <img src="static/css/headimg.png" style="display:block; margin:auto;max-width: 100%" />
    </div>
    <nav style="background-color:#808080;padding:0.2rem 0.5rem;color: #DEDEDE;font-size:1.25rem;text-align:center">
        組員：李國誠、張宇鎮、蔡昇倫、鄭齊家
    </nav>
    <div class="container" align="center">
        <div id="content" style="margin-top:1em">{% block content %}{% endblock %}</div>
    </div>
</body>

<footer>
    <script type="text/javascript">
        document.addEventListener('gesturestart', function (event) {
            // 阻止兩指縮放畫面
            event.preventDefault();
        })
        document.documentElement.style.overflow = 'hidden'; // 禁止整个页面滚动
        document.body.style.overflow = 'hidden'; // 禁止body元素滚动
    </script>
</footer>

</html>